{% load static %}
{% load i18n %}
{% load lang_utils %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="{% trans 'Website Layout' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="{% trans 'Dr. Nasir Idris Kauran Gwandu Kebbi Governor Kebbi State Governor' %}" />
    <meta name="description" content="{% trans 'Official website of Dr. Nasir Idris, Kauran Gwandu, Governor of Kebbi State' %}" />
    <meta property="og:url" content="https://kaurangwandu.com">
    <meta property="og:image" content="http://kaurangwandu.com/static/img/keb_logo.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="450">
    <meta property="og:title" content="Kauran Gwandu">
    <meta property="og:description" content="{% trans 'A notable example of his unifying approach is the recent defection of three prominent People\'s Democratic Party (PDP) senators Adamu Aliero, Yahaya Abdullahi, and Garba Maidoki to the All Progressives Congress (APC). Their transition was facilitated by Governor Idris\'s outreach and commitment to inclusive governance, signaling a shift towards political cohesion in the state.' %}">    
    <meta property="og:type" content="website">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/keb_logo.jpg'%}">

    <!-- title  -->
    <title>{% trans 'Dr. Nasir Idris' %}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/keb_logo.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'img/keb_logo.jpg' %}">

    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'search/search.css' %}">

    <!-- quform css -->
    <link rel="stylesheet" href="{% static 'quform/css/base.css' %}">

    <!-- template core css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Language switcher styles -->
    <style>
        .language-switcher {
            margin-left: 15px;
            padding: 8px 0;
        }
        .language-switcher select {
            background: transparent;
            color: #000;
            border: 1px solid #ddd;
            padding: 5px 10px;
            border-radius: 4px;
        }
        .menu_area-light .language-switcher select {
            color: #000;
        }
    </style>
</head>

<body>
    <!-- PAGE LOADING -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER -->
    <div class="main-wrapper">

        <!-- HEADER -->
        <header class="header-style1 menu_area-light">
            <div class="navbar-default border-bottom border-color-light-white">
                <!-- start top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="{% trans 'Type & hit enter...' %}">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                   

                                    <div class="navbar-toggler bg-primary"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                                        <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                                        <li><a href="{% url 'achievements' %}">{% trans "Achievements" %}</a></li>
                                        <li class="language-switcher">
                                            <form action="{% url 'set_language' %}" method="post" id="language-form">
                                                {% csrf_token %}
                                                <input name="next" type="hidden" value="{{ request.get_full_path|remove_lang }}">
                                                <select name="language" class="language-selector">
                                                    <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                                                    <option value="ha" {% if LANGUAGE_CODE == 'ha' %}selected{% endif %}>Hausa</option>
                                                </select>
                                            </form>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- PAGE TITLE -->
        <section class="page-title-section bg-img cover-background top-position1 left-overlay-secondary" data-overlay-dark="85" data-background="{% static 'img/kebbi2.jpg' %}">
            <div class="container">
                <div class="row position-relative z-index-9">
                    <div class="col-md-12">
                        <h1>{% trans "Achievements" %}</h1>
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                            <li>{% trans "Achievements" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- PORTFOLIO TWO COLUMNS -->
        <section>
            <div class="container">
                <div class="row portfolio-gallery-isotope mt-n4">
                    {% for achievement in achievements %}
                    <div class="col-md-6 mt-4 wow fadeInUp" data-wow-delay="100ms" data-src="{{achievement.image.url}}" data-sub-html="<h4 class='text-white'>{% if request.LANGUAGE_CODE == 'ha' and achievement.title_ha %}{{achievement.title_ha}}{% else %}{{achievement.title}}{% endif %}</h4>">
                        <div class="portfolio-style02 position-relative">
                            <div class="img-hover border-radius-10">
                                <img src="{{achievement.image.url}}" alt="{% if request.LANGUAGE_CODE == 'ha' and achievement.title_ha %}{{achievement.title_ha}}{% else %}{{achievement.title}}{% endif %}" class="border-radius-10">
                            </div>
                            <div class="content">
                                <div class="pe-3">
                                    <h3 class="h5 mb-0">
                                        <a href="{% url 'achievement' achievement.slug %}">
                                            {% if request.LANGUAGE_CODE == 'ha' and achievement.title_ha %}
                                                {{achievement.title_ha}}
                                            {% else %}
                                                {{achievement.title}}
                                            {% endif %}
                                        </a>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <a href="{% url 'achievement' achievement.slug %}" class="portfolio-link"><i class="ti-arrow-top-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="bg-secondary">
            <div class="container pt-2-9 pt-lg-7">
                <div class="row mb-2-9">
                    <div class="col-md-6 col-lg-4 mb-2-2 mb-lg-0">
                        <div class="pe-md-5">
                            <h3 class="h4 text-white mb-1-6 mb-md-1-9">{% trans "Kauran Gwandu" %}</h3>
                            <p class="text-white mb-1-6">{% trans "A man defined by excellence" %}</p>
                            <ul class="social-icon-style3 list-unstyled mb-0">
                                <li><a href="https://www.facebook.com/share/1AHsPLzTPF/?mibextid=wwXIfr"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://x.com/nasiridriskg?s=21"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/dr.nasiridris?igsh=NWN6czRhMjl2cTFq"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-2-2 mb-lg-0">
                        <div class="ps-md-1-9 ps-xxl-7 pe-lg-1-9 pe-xl-6">
                            <h3 class="h4 text-white mb-1-6 mb-md-1-9">{% trans "Contact" %}</h3>
                            <ul class="list-unstyled list-style09 mb-0">
                                <li><span>{% trans "Address:" %} </span>{% trans "Birnin-Kebbi, Kebbi." %}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <h3 class="h4 text-white mb-1-6 mb-md-1-9">{% trans "Created By" %}</h3>
                        <p class="text-white mb-1-6"><a href="https://gizodynamic.com">Gizo Dynamic</a></p>
                        <p class="text-white mb-1-6"><a href="https://rimalconsulting.com">Rimal Consulting</a></p>
                    </div>
                </div>
                <div class="row border-top border-color-light-white align-items-center pt-1-6 pb-1-9">
                    <div class="col-md-4 order-2 order-md-1 text-center text-md-start">
                        <div class="footer-logo text-center text-md-start mx-auto mx-lg-0"></div>
                    </div>
                    <div class="col-md-8 order-1 order-md-2">
                        <div class="text-center text-md-end mb-4 mb-md-0">
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mx-2"><a href="{% url 'about' %}" class="text-white text-primary-hover">{% trans "About" %}</a></li>
                                <li class="d-inline-block mx-2"><a href="{% url 'achievements' %}" class="text-white text-primary-hover">{% trans "Achievements" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- SCROLL TO TOP -->
    <div class="scroll-top-percentage"><span id="scroll-value"></span></div>

    <!-- all js include start -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/nav-menu.js' %}"></script>
    <script src="{% static 'search/search.js' %}"></script>
    <script src="{% static 'js/easy.responsive.tabs.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jarallax.min.js' %}"></script>
    <script src="{% static 'js/jarallax-video.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/animated-headline.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/lightgallery-all.js' %}"></script>
    <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'quform/js/plugins.js' %}"></script>
    <script src="{% static 'quform/js/scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Language switcher script -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Close mobile menu after language selection
            document.querySelectorAll('.language-switcher select').forEach(function(select) {
                select.addEventListener('change', function() {
                    if (window.innerWidth < 992) {
                        document.querySelector('.navbar-toggler').click();
                    }
                    this.form.submit();
                });
            });
        });
    </script>
</body>
</html>